<ion-header [translucent]="true">
  <ion-toolbar>
     <ion-buttons slot="start">
      <ion-back-button defaultHref="/"color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">mangateca</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="ion-padding">

  <div class="prueba">
    <ion-searchbar placeholder="Buscar tus colecciones"></ion-searchbar>
  </div>

  <ion-grid class="ion-padding-horizontal">
    <ion-row class="ion-justify-content-between">
      <ion-chip>
        <ion-icon name="book-outline"></ion-icon>
        <ion-label>Editorial</ion-label>
      </ion-chip>
      <ion-chip>
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Autor</ion-label>
      </ion-chip>
      <ion-chip>
        <ion-icon name="flag-outline"></ion-icon>
        <ion-label>Estado</ion-label>
      </ion-chip>
      <ion-chip>
        <ion-icon name="albums-outline"></ion-icon>
        <ion-label>Colecciones</ion-label>
      </ion-chip>
    </ion-row>
  </ion-grid>

  <ion-list class="lista" >
    <ion-item *ngFor="let manga of mangas" lines="none" detail="true" [routerLink]="['/mangateca-edicion']" >
      <ion-thumbnail slot="start">
        <img [src]="manga.imagen" alt="Portada de {{ manga.titulo }}">
      </ion-thumbnail>
      <ion-label>
        <h2 class="titulo">{{ manga.titulo }}</h2>
        <div class="progress-container">
          <ion-progress-bar [value]="manga.progreso" color="secondary"></ion-progress-bar>
        </div>
        <p class="estado">{{ manga.estado }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>