ion-content {
  --background: var(--ion-color-primary);
  --color: var(--ion-color-tertiary);
}

ion-title {
  color: var(--ion-color-tertiary);
}

ion-chip {
  font-weight: bold;
}

ion-item {
  border-radius: 8px;
  margin-bottom: 10px;
  color: var(--ion-color-tertiary);
}

ion-chip{
  --color: var(--ion-color-primary);
  --background: var(--ion-color-warning);
}

ion-icon{
  color: var(--ion-color-primary);
}

ion-searchbar {
  --background: var(--ion-color-primary);
  --placeholder-color: var(--ion-color-tertiary);
  --icon-color: var(--ion-color-tertiary);
  --border-radius: 4px;
  --box-shadow: 0 0 0 1px var(--ion-color-secondary)
}

ion-list .lista{
  background: var(--ion-color-primary);
}

.titulo {
  font-size: 1.1rem;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.progress-container {
  margin-top: 5px;
  margin-bottom: 5px;
}

.estado {
  font-size: 0.9rem;
  color: var(--ion-color-light);
}
