ion-card {
    width: 125px;
    height: 175px;
}

ion-card img{
    width: 125px;
    height: 125px;
    object-fit: cover;
    display: block;
    border-radius: 8px; // quita redondeos si los hubiera
}

ion-card-content {
    padding: 7px 6px;
    margin: 0;
    --ion-padding: 0;
}

ion-card-title {
    font-size: 11.7px;
    padding: 0;
    margin: 0;
    --ion-padding: 0;
}

ion-progress-bar {
    padding: 0;
    margin: 0;
    --ion-padding: 0;
}