<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Noticias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <p>Jun 17, 2024 10:30 AM -04</p>
        <h3>HAIKYU!! The Dumpster Battle alcanza los 11 millardos de yenes en la taquilla japonesa</h3>
        <h4>La primera de las dos partes lleva 18 semanas en cartelera</h4>
        <p>Amílcar Trejo Mosquera</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img src="assets/manga-cover/Surface.svg" alt="">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>La audiencia de la tercera ronda de los Nacionales de Primavera continúa creciendo en Japón con HAIKYU!! The Dumpster Battle superando los 11 mil millones de yenes durante el último fin de semana, el número 18 en los cines de todo el país. La película de anime deportivo también regresó al top ten de asistencia durante el fin de semana pasado, saltando al noveno lugar.
 Hasta el 16 de junio, HAIKYU!! The Dumpster Battle ha recaudado 11 050 millones de yenes (74,23 millones de dólares) gracias a más de 7,71 millones de entradas vendidas. Esto la convierte en la película 35ª más taquillera de la historia de Japón, justo detrás de Star Wars: The Force Awakens y sigue siendo la 15ª película de anime más taquillera después de The Wind Rises.</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <app-menu></app-menu>
</ion-footer>
