ion-content {
  --background: var(--ion-color-primary);
  --color: var(--ion-color-tertiary);
}
ion-toolbar {
  --background: #151F25 !important;
  color: #E0DCC5 !important;
}
ion-button.button {
  --color: var(--ion-color-tertiary);
  --background: var(--ion-color-secondary);
}

ion-button.cantidad {
  --color: var(--ion-color-tertiary);
  --background: var(--ion-color-secondary);
}

ion-button.numero {
  --color: var(--ion-color-tertiary);
  --background: var(--ion-color-primary);
  --border-width: 2px;
  --border-style: solid;
  --border-color: var(--ion-color-secondary);
  --border-radius: 8px;
}

ion-icon{
  font-size: 25px;
  color: var(--ion-color-light);
}

ion-input {
  --border-color: transparent;
  --box-shadow: none;
}

ion-item{
  --background: var(--ion-color-primary);
  --color: var(--ion-color-tertiary);
}

.total-section {
  margin: 16px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  color: var(--ion-color-tertiary);
}

.confirm-btn {
  margin: 16px;
  --border-radius: 8px;
}

.payment-card {
  background-color: var(--ion-color-primary);
  color: var(--ion-color-light);
  border-radius: 12px;
  padding: 16px;
}

.card-header {
  display: flex;
  align-items: center;
  gap: 8px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

.label-title {
  margin: 0;
}

.card-price {
  display: block;
  font-size: 22px;
  font-weight: bold;
  margin-top: 8px;
  color: var(--ion-color-light);
}


.product-container {
  background-color: var(--ion-color-primary);
  padding: 12px 8px;
  border-radius: 12px;
  color: var(--ion-color-light);
  margin-bottom: 12px;
}

.product-row {
  align-items: center;
}

.img-col {
  display: flex;
  justify-content: center;
}

.product-img {
  width: 100%;
  max-width: 80px;
  border-radius: 8px;
}

.info-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.price-delete {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.trash-icon {
  font-size: 25px;
  color: var(--ion-color-secondary);
  margin-top: 4px;
}

.quantity-selector {
  display: flex;
  gap: 4px;
  margin-top: 8px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
