ion-toolbar {
  --background: var(--ion-color-primary);
  --color: var(--ion-color-tertiary);
  height: 56px;
  padding: 16px 20px;
}

ion-grid ion-row:nth-child(1) ion-col{
    margin-top: 114px;
    margin-bottom: 70px;
}
.boton-personalizado {
  --background: var(--ion-color-secondary); /* o cualquier color de fondo */
  --color: var(--ion-color-tertiary);         /* ¡Este es el color del texto! */
}
h4{
    color: var(--ion-color-tertiary); 
}

.distancia {
    margin-bottom: 15px;
}

ion-content {
  --background: var(--ion-color-primary);
}

ion-grid {
  background-color: var(--ion-color-primary);
}

ion-col {
     background-color: var(--ion-color-primary);
}

ion-row {
     background-color: var(--ion-color-primary);
}

ion-list {
  --ion-item-background: var(--ion-color-primary);
}

ion-item {
  --background: var(--ion-color-primary);
  --inner-border-width: 0; /* Elimina bordes internos */
  color: var(--ion-color-tertiary);
}


ion-item:hover ion-label {
  color: var(--ion-color-tertiary); /* mantener el mismo color al hacer hover */
}

ion-label {
    background-color: var(--ion-color-primary);
    color: var(--ion-color-tertiary);
}

ion-icon {
  color: var(--ion-color-tertiary);
}

app-buttonlinear{
  align-self: center;
}

.boton{
  display: flex;
  justify-content: center;
}

