<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <img src="assets/icon/perfil.svg" alt="profile">
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-safe-area">
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="auto" class="ion-text-center">
        <img src="assets/photo-profile/fotoperfil.svg" alt="avatar" class="distancia">
        <h5 >Hola!</h5>
        <h4 class="distancia">{{auth.profile?.name}}</h4>
        <ion-button class="distancia boton-personalizado" 
        [routerLink]="['/edit-profile']">
          Editar perfil
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list lines="none">
          <ion-item [routerLink]="['/record']">
            <ion-icon aria-hidden="true" name="file-tray" slot="start"></ion-icon>
            <ion-label>
              <h6>Historial</h6>
              </ion-label>
          </ion-item>
          <ion-item [routerLink]="['/premium']">
            <ion-icon aria-hidden="true" name="wallet" slot="start"></ion-icon>
            <ion-label>
              <h6>Premium</h6>
              </ion-label>
          </ion-item>
          <ion-item [routerLink]="['/preferences']">
            <ion-icon aria-hidden="true" name="heart-sharp" slot="start"></ion-icon>
            <ion-label>
              <h6>Preferencias</h6>
              </ion-label>
          </ion-item>
        </ion-list>
        <div class="boton">
          <app-buttonlinear (click)="logout()" label="Log Out" color="#DB3F3A"></app-buttonlinear>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>


<ion-footer>
    <app-menu></app-menu>
</ion-footer>