ion-button.button-comprar {
  --color: var(--ion-color-tertiary);
  --border-color: var(--ion-color-secondary);
  --border-width: 1px;
  --border-style: solid;
  --border-radius: 4px; 
}

ion-button.button-sinopsis {
  --color: var(--ion-color-tertiary);
  --background: var(--ion-color-secondary);
}

ion-content{
--background: var(--ion-color-primary);
}

ion-card-title.info-compra{
  --color: var(--ion-color-tertiary);
}

ion-label.title-info{
  --color: var(--ion-color-light);
}

ion-note{
  --color: var(--ion-color-light);
}

h3{
  color: var(--ion-color-tertiary);
}

p{
  color: var(--ion-color-light);
}

.cover {
  width: 136px;
  height: 202px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}


.title {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 4px;
  color: var(--ion-color-tertiary);
}

.author {
  color: var(--ion-color-light);
  font-style: italic;
}

.price {
  font-size: 1.2rem;
  margin-top: 6px;
  color: var(--ion-color-light);
}

.buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.similar-scroll {
  padding: 10px 0;
}

.similar-container {
  display: flex;
  gap: 10px;
}

.similar-img {
  width: 80px;
  height: auto;
  border-radius: 10px;
}
