<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/store" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">manga-purchase-info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="product-card">
      <div>
        <img [src]="manga.image" class="cover" alt="Portada del manga" />
      </div>
      <div>
        <h2 class="title">{{ manga.title }}</h2>
        <app-rating [(rating)]="puntuacionDelUsuario"></app-rating>
        <h6 class="author">{{ manga.author }}</h6>
        <h4 class="price">US$ {{ manga.price }}</h4>
        <div class="actions">
          <ion-button class="button" [routerLink]="['/purchase']">
            Comprar
          </ion-button>
          <ion-icon name="cart"></ion-icon>
        </div>
      </div>
    </ion-row>
  </ion-grid>

  <ion-card>
    <ion-card-header>
      <h5>Sinopsis</h5>
    </ion-card-header>
    <ion-card-content>
      <p>{{ manga.synopsis }}</p>
        <div class="actions">
          <ion-button class="button" [routerLink]="['/synopsis']">
            Leer sinopsis
          </ion-button>
        </div>
    </ion-card-content>
  </ion-card>

  <ion-card color="primary">
    <ion-list>
      <div class="info-header">
        <h5 class="info-title">Info de producto</h5>
        <div class="info-divider"></div>
      </div>

    <ion-item>
      <ion-label>Título</ion-label>
      <ion-note slot="end">{{ manga.title }}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Número de páginas</ion-label>
      <ion-note slot="end">{{ manga.pages }}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Idioma</ion-label>
      <ion-note slot="end">{{ manga.language }}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Editorial</ion-label>
      <ion-note slot="end">{{ manga.publisher }}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>No. de tomo</ion-label>
      <ion-note slot="end">{{ manga.volume }}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Formato</ion-label>
      <ion-note slot="end">{{ manga.format }}</ion-note>
    </ion-item>
    </ion-list>
  </ion-card>

  <h6 class="ion-padding">Productos similares comprados en conjunto</h6>
    <div class="similar-container">
      <img *ngFor="let img of manga.similar" [src]="img" class="similar-img" />
    </div>
  <h5 class="ion-padding">Opiniones destacadas</h5>
    <ion-card class="comentario">
  <ion-card-header>
    <div class="user-info">
      <ion-icon aria-hidden="true" name="person-circle-sharp" slot="start"></ion-icon>
      <ion-label><p>AKAASHI'S DETONATOR 5000</p></ion-label>
    </div>
    <app-rating [(rating)]="puntuacionDelUsuario"></app-rating>
  </ion-card-header>
  <ion-card-content>
    <p><strong>Beautiful edition!</strong></p>
    <p>EL MEJOR MANGA DE LA HISTORIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
    <ion-chip class="util">Útil</ion-chip>
    <ion-chip color="secondary" outline>Reportar</ion-chip>
  </ion-card-content>
</ion-card>
</ion-content>

