<ion-header [translucent]="true">
  <ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button default-href="#"></ion-back-button>
  </ion-buttons>
  <ion-title><h5>Géneros preferidos</h5></ion-title>
</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
            <ion-list-header>
          <ion-label><h5>Géneros elegidos</h5></ion-label>
        </ion-list-header>
        <ion-item>
          <ion-checkbox class="ion-padding" slot="start"></ion-checkbox>
          <ion-label><h6>Komodo</h6></ion-label>
        </ion-item>
        <ion-item>
          <ion-checkbox class="ion-padding" slot="start"></ion-checkbox>
          <ion-label><h6>Shonen</h6></ion-label>
        </ion-item>
        <ion-item>
          <ion-checkbox class="ion-padding" slot="start"></ion-checkbox>
          <ion-label><h6>Shojo</h6></ion-label>
        </ion-item>
        <ion-item>
          <ion-checkbox class="ion-padding" slot="start"></ion-checkbox>
          <ion-label><h6>Seinen</h6></ion-label>
        </ion-item>
        <ion-item>
          <ion-checkbox class="ion-padding" slot="start"></ion-checkbox>
          <ion-label><h6>Josei</h6></ion-label>
        </ion-item>
      </ion-list>
      <div class="ion-text-center">
        <ion-button fill="solid" class="boton-personalizado">Guardar</ion-button>
      </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <app-menu></app-menu>
</ion-footer>
