
<ion-content [fullscreen]="true" class="start.content">
  <div class="start">
    <img src="../../../assets/logos/koishelf logo.svg" alt="">
    <div class="title">
      <h1>Bienvenido a KoiShelf</h1>
      <p>El mejor lugar para gestionar, leer 
        y comprar tus mangas favoritos.</p>
    </div>
    <div class="botones">
      <ion-button routerLink="/login" expand="block" type="submit" class="startbutton">
        Login
      </ion-button>
      <ion-button routerLink="/register" expand="block" type="submit" class="startbutton">
        Sign Up
      </ion-button>
    </div>
  </div>
</ion-content>
