img{
    width: 26px;
    height: 26px;
}

ion-label {
    margin-top:10px ;
}

ion-tab-bar {
    width: 100%;
    height: 56px;
    padding: 10px 0px;
    background-color: var(--ion-color-primary);
}

ion-tab-button {
    background-color: var(--ion-color-primary);
}

ion-tab-button.active {
    color: var(--ion-color-secondary);
}




