<ion-tabs>
  <!-- Tab bar -->
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <img src="assets/icon/home.svg" alt="home">
      <ion-label>Inicio</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="contact">
      <img src="assets/icon/tienda.svg" alt="compra">
      <ion-label>Tienda</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="settings">
      <img src="assets/icon/perfil.svg" alt="perfil">
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="settings">
      <img src="assets/icon/foro.svg" alt="foro">
      <ion-label>Foro</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="settings">
      <img src="assets/icon/library.svg" alt="biblioteca">
      <ion-label>Biblioteca</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
