<ion-content [fullscreen]="true" class="login-content">
  <div class="login-card">
    <h1>Login</h1>

    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <ion-item lines="inset">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-text *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid">
        <small *ngIf="loginForm.get('email')?.errors?.['required']">*El email es obligatorio.</small>
        <small *ngIf="loginForm.get('email')?.errors?.['email']">*Formato de email inválido.</small>
      </ion-text>

      <div class="line"></div>

      <ion-item lines="inset">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <ion-text *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
        <small>*La contraseña es obligatoria.</small>
      </ion-text>

      <div class="line"></div>

      <div class="forgot-password">
        <a routerLink="/password" class="forgot-password">¿Olvidaste tu contraseña?</a>
        
      </div>

      <ion-button routerLink="../home" class="custom-button" type="submit">Ingresar</ion-button>
    </form>

    <div class="register-link">
      ¿No tienes una cuenta? 
      <a routerLink="/register">Ingresa aquí.</a>
    </div>
  </div>
</ion-content>
