<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <img src="assets/icon/perfil.svg" alt="profile">
    </ion-buttons>
    <ion-title><h3>Foro</h3> </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="tema">
          <h5>Haikyuu!!</h5>
        </div>
        <div class="tarjeta">
          <div class="avatar">
            <ion-icon aria-hidden="true" name="person-circle-sharp" slot="start"></ion-icon>
          </div>
          <div class="texto">
            <div class="user">
              <h4>Shoyolover16</h4>
            </div>
            <div class="comentario">
              <p>
                Te amo tanto Hinata Shoyo eres el amor de mi vida. Ojalá pudiera tenerte entre mis brazos. Desearía ser Kageyama para tener la oportunidad de hablarte todos los días.
              </p>
            </div>
            <div class="botones">
              <app-buttonlinear label = "Responder" 
                    color="#E8B355">
              </app-buttonlinear>
              <app-heart></app-heart>
            </div>
          </div>
        </div>
        <div class="tarjeta">
          <div class="avatar">
            <ion-icon aria-hidden="true" name="person-circle-sharp" slot="start"></ion-icon>
          </div>
          <div class="texto">
            <div class="user">
              <h4>kittykat</h4>
            </div>
            <div class="comentario">
              <p>
                bokuto parec polnareff.
              </p>
            </div>
            <div class="botones">
              <app-buttonlinear label = "Responder" 
                    color="#E8B355">
              </app-buttonlinear>
              <app-heart></app-heart>
            </div>
          </div>
        </div>
        <div class="tarjeta">
          <div class="avatar">
            <ion-icon aria-hidden="true" name="person-circle-sharp" slot="start"></ion-icon>
          </div>
          <div class="texto">
            <div class="user">
              <h4>jadeldel</h4>
            </div>
            <div class="comentario">
              <p>
                AOBA JOHSAI!!! AOBA JOHSAI!!! WUUUU!!!
              </p>
            </div>
            <div class="botones">
              <app-buttonlinear label = "Responder" 
                    color="#E8B355">
              </app-buttonlinear>
              <app-heart></app-heart>
            </div>
          </div>
        </div>
        <div class="tarjeta">
          <div class="avatar">
            <ion-icon aria-hidden="true" name="person-circle-sharp" slot="start"></ion-icon>
          </div>
          <div class="texto">
            <div class="user">
              <h4>jadeldel</h4>
            </div>
            <div class="comentario">
              <p>
                Mi manga favorito, lo mejor que me ha pasado
              </p>
            </div>
            <div class="botones">
              <app-buttonlinear label = "Responder" 
                    color="#E8B355">
              </app-buttonlinear>
              <app-heart></app-heart>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>

<ion-footer>
  <app-menu></app-menu>
</ion-footer>