ion-content {
 --background: var(--ion-color-primary);
--color: var(--ion-color-tertiary);
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
}

.author {
  font-size: 18px;
  --color: var(--ion-color-tertiary);
  margin-bottom: 10px;
}

.description {
  text-align: justify;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 18px;
  font-weight: bold;
  color: var(--ion-color-tertiary);
  margin-top: 20px;
}

.banner{
    object-fit: cover;
    display: block;
    border-radius: 8px;
}


ion-card {
    width: 125px;
    height: 209px;
    padding: 0;
    margin: 0;
    --ion-padding: 0;
    --background: transparent; // opcional si querés ver que no hay fondo
    box-shadow: none; // quita sombra si molesta
  }
  
  ion-card img {
    width: 100%;
    object-fit: cover;
    display: block;
    border-radius: 8px; // quita redondeos si los hubiera
  }

  ion-card-title {
    font-size: 14px;
  }