<ion-header [translucent]="true">
  <ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button default-href="#"></ion-back-button>
  </ion-buttons>
  <ion-title><h5>Idiomas elegidos</h5></ion-title>
</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item *ngFor="let lenguage of availableLanguage">
          <ion-label>{{ lenguage }}</ion-label>
          <ion-checkbox
            slot="end"
            [checked]="selectedLanguage.includes(lenguage)"
            (ionChange)="toggleIdioma(lenguage)"
          ></ion-checkbox>
        </ion-item>
      <div class="ion-text-center">
        <ion-button 
        (click)="guardarIdiomas()" 
        fill="solid" class="boton-personalizado">Guardar</ion-button>
      </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <app-menu></app-menu>
</ion-footer>
