<ion-header [translucent]="true">
  <ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button default-href="#"></ion-back-button>
  </ion-buttons>
  <ion-title>Notificaciones</ion-title>
</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Actualización</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            No te pierdas el nuevo capítulo de Baraou no Souretsu!
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Sugerencia</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            ¿Te gusto Nombre del Manga?  No te pierdas Nombre de otro Mangas
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Promoción</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Disfruta de la versión premium a mitad de precio este mes! ;)
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Equipo de KoiShelf</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            ¡Bienvenido a KoiShelf! Modifica tus preferencias para hacerte sugerencias precisas!
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <app-menu></app-menu>
</ion-footer>