<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>KoiShelf</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="notifications"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
  <div class="searchbar-wrapper">
    <ion-searchbar routerLink="/search" (ionFocus)="goToSearch()"></ion-searchbar>

  </div>
</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  

<app-news></app-news>


<div class="si">
  <ion-card-title>Nuevos Lanzamientos</ion-card-title>
  <a routerLink="/register">Más</a>
</div>

  <ion-slides class="horizontal-swiper">
  <ion-slide>
    <app-manga-section [ids]="['Haikyuu!!', 'Jujutsu Kaisen', 'Fullmetal Alchemist', 'El chico del que estaba enamorada no era un chico']"></app-manga-section>
  </ion-slide>
  </ion-slides>

  <div class="si">
  <ion-card-title>Porque viste Haikyuu!!</ion-card-title>
  <a routerLink="/register">Más</a>
</div>

  <ion-slides  class="horizontal-swiper">
  <ion-slide>
    <app-manga-section [ids]="['Chihayafuru', 'Slam Dunk', 'Junjo Romantica', 'Banana Fish']"></app-manga-section>
  </ion-slide>
  </ion-slides>

   <div class="si">
  <ion-card-title>Aclamadas por la crítica</ion-card-title>
  <a routerLink="/register">Más</a>
</div>

  <ion-slides  class="horizontal-swiper">
  <ion-slide>
    <app-manga-section [ids]="['Chainsaw Man', 'Death Note', 'Houseki no Kuni', 'Kuroshitsuji']"></app-manga-section>
  </ion-slide>
  </ion-slides>

  <div class="si">
  <ion-card-title>Nuevos Lanzamientos</ion-card-title>
  <a routerLink="/register">Más</a>
</div>

  <ion-slides  class="horizontal-swiper">
  <ion-slide>
    <app-manga-section [ids]="['Kimetsu no Yaiba', 'Kimi ni Todoke', 'Kowloon Generic Romance', 'Lovely Complex']"></app-manga-section>
  </ion-slide>
  </ion-slides>
  <div class="si">
  <ion-card-title>Porque viste Haikyuu!!</ion-card-title>
  <a routerLink="/register">Más</a>
</div>

  <ion-slides  class="horizontal-swiper">
  <ion-slide>
    <app-manga-section [ids]="['Nana', 'Neon Genesis Evangelion', 'Orange', 'Naruto']"></app-manga-section>
  </ion-slide>
  </ion-slides>
  
 <div class="si">
  <ion-card-title>Aclamadas por la crítica</ion-card-title>
  <a routerLink="/register">Más</a>
</div>

  <ion-slides  class="horizontal-swiper">
  <ion-slide>
    <app-manga-section [ids]="['One Piece', 'Paradise Kiss', 'Pluto', 'Skip Beat!']"></app-manga-section>
  </ion-slide>
  </ion-slides>
  

</ion-content>


<div class="fixed-footer">
  <app-menu></app-menu>
</div>
  


