<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>KoiShelf</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="notifications"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>

<app-news></app-news>

<ion-card>
  <ion-card-header>
    <img src="assets/manga-cover/fma.jpg" alt="">
    <ion-card-title>Card Title</ion-card-title>
  </ion-card-header>
</ion-card>



  <ion-button>Default</ion-button>
<ion-button shape="round">Round</ion-button>
<ion-button>
  <ion-icon slot="icon-only" name="heart"></ion-icon>
</ion-button>

  

<app-menu></app-menu>
</ion-content>
<ion-footer>
  
</ion-footer>

