<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>KoiShelf</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="notifications"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-toolbar>
  <div class="searchbar-wrapper">
    <ion-searchbar></ion-searchbar>
  </div>
</ion-toolbar>

<app-news></app-news>

<ion-card-title>Nuevos Lanzamientos</ion-card-title>

<ion-slides [options]="slideOpts" class="horizontal-swiper">
  <ion-slide *ngFor="let manga of nuevosLanzamientos">
    <ion-card class="manga-card">
      <img [src]="manga.imagen" alt="Manga">
      <ion-card-content>
        <ion-card-title>{{ manga.titulo }}</ion-card-title>
      </ion-card-content>
    </ion-card>
  </ion-slide>
</ion-slides>

<ion-card-title>Porque leíste Haikyuu</ion-card-title>
<ion-slides [options]="slideOpts">
  <ion-slide *ngFor="let manga of similaresAHaikyuu">
    <ion-card>
      <img [src]="manga.imagen" alt="Manga">
      <ion-card-header>
        <ion-card-title>{{ manga.titulo }}</ion-card-title>
      </ion-card-header>
    </ion-card>
  </ion-slide>
</ion-slides>




  <ion-button>Default</ion-button>
<ion-button shape="round">Round</ion-button>
<ion-button>
  <ion-icon slot="icon-only" name="heart"></ion-icon>
</ion-button>


</ion-content>
<ion-footer>
  <app-menu></app-menu>
</ion-footer>

