<ion-content [fullscreen]="true" class="register-content">
  <div class="register-container">
    <h1>Registro</h1>

    <form [formGroup]="registerForm" (ngSubmit)="register()">

      <ion-item lines="inset">
        <ion-input formControlName="name" labelPlacement="floating" label="Nombre " type="text" fill="solid" mode="md"></ion-input>
      </ion-item>
      <ion-text *ngIf="registerForm.get('name')?.touched && registerForm.get('name')?.invalid">
        <small *ngIf="registerForm.get('name')?.errors?.['required']">*El nombre es obligatorio.</small>
        <small *ngIf="registerForm.get('name')?.errors?.['minlength']">*Debe tener al menos 3 caracteres.</small>
      </ion-text>
      <div class="line"></div>
      <ion-item lines="inset">
        <ion-input formControlName="lastName" labelPlacement="floating" label="Apellido " type="text" fill="solid" mode="md"></ion-input>
      </ion-item>
      <ion-text *ngIf="registerForm.get('lastName')?.touched && registerForm.get('lastName')?.invalid">
        <small *ngIf="registerForm.get('lastName')?.errors?.['required']">*El apellido es obligatorio.</small>
      </ion-text>
      <div class="line"></div>
      <ion-item lines="inset">
        <ion-input formControlName="email" labelPlacement="floating"  label="Email " type="email" fill="solid" mode="md"></ion-input>
      </ion-item>
      <ion-text *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.invalid">
        <small *ngIf="registerForm.get('email')?.errors?.['required']">*El email es obligatorio.</small>
        <small *ngIf="registerForm.get('email')?.errors?.['email']">*Formato de email inválido.</small>
      </ion-text>
      <div class="line"></div>
      <ion-item lines="inset">
        <ion-input formControlName="password" label="Contraseña " type="password" fill="solid"
        mode="md"></ion-input>
      </ion-item>
      <ion-text *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.invalid">
        <small>*La contraseña es obligatoria.</small>
      </ion-text>
      <div class="line"></div>
      <ion-item lines="inset">
        <ion-input formControlName="password2" label="Confirmar contraseña " type="password" fill="solid"
        mode="md"></ion-input>
      </ion-item>
      <ion-text *ngIf="registerForm.get('password2')?.touched && registerForm.get('password2')?.invalid">
        <small>*Debe confirmar la contraseña.</small>
      </ion-text>
      <div class="line"></div>
      <ion-button expand="block" type="submit" class="register-button">
        Registrarme
      </ion-button>
    
    </form>
    

    <p class="login-link">
      Ya tienes una cuenta?
      <a routerLink="/login">Ingresa aquí</a>
    </p>
  </div>
</ion-content>