<ion-content [fullscreen]="true" class="register-content">
  <div class="register-container">
    <h1>Nueva Contraseña</h1>

    <form [formGroup]="forgotPasswordForm" (ngSubmit)="resetPassword()">
      
      <ion-item lines="inset">
        <ion-label position="floating">Nueva contraseña</ion-label>
        <ion-input formControlName="newPassword" type="password"></ion-input>
      </ion-item>
      <ion-text *ngIf="forgotPasswordForm.get('newPassword')?.touched && forgotPasswordForm.get('newPassword')?.invalid">
        <small *ngIf="forgotPasswordForm.get('newPassword')?.errors?.['required']">La nueva contraseña es obligatoria.</small>
        <small *ngIf="forgotPasswordForm.get('newPassword')?.errors?.['minlength']">Debe tener al menos 6 caracteres.</small>
      </ion-text>

      <div class="line"></div>

      <ion-item lines="inset">
        <ion-label position="floating">Confirmar contraseña</ion-label>
        <ion-input formControlName="confirmPassword" type="password"></ion-input>
      </ion-item>
      <ion-text *ngIf="forgotPasswordForm.get('confirmPassword')?.touched && forgotPasswordForm.get('confirmPassword')?.invalid">
        <small>Debe confirmar la contraseña.</small>
      </ion-text>

      <div class="line"></div>

      <ion-button routerLink="/login" expand="block" type="submit" class="register-button">
        Hecho
      </ion-button>
    </form>
  </div>
</ion-content>

