<ion-header [translucent]="true">
  <ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button default-href="#"></ion-back-button>
  </ion-buttons>
  <ion-title>Premium</ion-title>
</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="auto" class="ion-text-center">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Beneficios</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Precio:

              Anual: $49.99 USD (ahorras 15%)
              Beneficios:

              
              ✅ Acceso Ilimitado a todo el catálogo de mangas sin restricciones.
              ✅ Lectura sin anuncios para una experiencia ininterrumpida.
              ✅ Capítulos exclusivos y adelantados antes de su lanzamiento gratuito.
              ✅ Descarga offline para leer sin conexión en cualquier momento.
              ✅ Modo nocturno y opciones de personalización para una lectura más cómoda.
              ✅ Soporte prioritario con atención rápida y personalizada.
              ✅ Eventos y recompensas exclusivas para usuarios premium.
              Periodo de prueba: 7 días gratis para nuevos suscriptores.
              ¡Únete a Manga Premium y disfruta de la mejor experiencia de lectura sin límites!
          </ion-card-content>
        </ion-card>
        <ion-button class="boton-personalizado">Unirte a premium</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <app-menu></app-menu>
</ion-footer>