

<ion-content [fullscreen]="true">
 <ion-grid>
    <ion-row>
      <ion-col>
        <h3>Antes de comenzar...</h3>
        <h2>Selecciona los géneros que quisieras ver acá: </h2>
        <ion-item *ngFor="let genre of availableGenres">
          <ion-label>{{ genre }}</ion-label>
          <ion-checkbox
            slot="end"
            [checked]="selectedGenres.includes(genre)"
            (ionChange)="toggleGenre(genre)"
          ></ion-checkbox>
        </ion-item>
      <div class="ion-text-center">
        <ion-button 
        (click)="guardarGeneros()" 
        [routerLink]="['/log-languages']"
        fill="solid" class="boton-personalizado">Siguiente</ion-button>
      </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
