ion-card {
    width: 125px;
    height: 209px;
    padding: 0;
    margin: 0;
    --ion-padding: 0;
    --background: transparent; // opcional si querés ver que no hay fondo
    box-shadow: none; // quita sombra si molesta
  }
  
  ion-card img {
    width: 100%;
    object-fit: cover;
    display: block;
    border-radius: 8px; // quita redondeos si los hubiera
  }

  ion-card-title {
    font-size: 14px;
  }