<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="bag"></ion-icon>
    </ion-buttons>
    <ion-title>Tienda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="prueba">
          <ion-searchbar placeholder="Buscar tus títulos favoritos" (ionInput)="handleSearch($event)"></ion-searchbar>
        </div>
         
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4" *ngFor="let manga of mangas">
          <ion-card [routerLink]="['/manga-purchase-info', manga.id]">
            <img alt="manga-cover" src= "{{ manga.cover}}"/>
            <ion-card-content>
              <ion-card-subtitle><p>{{ manga.id}}</p></ion-card-subtitle>
              <app-rating [rating]="manga.rating"></app-rating>
              <ion-card-subtitle class="extra-small">US$ {{ manga.price}}</ion-card-subtitle>
            </ion-card-content>
          </ion-card>
        </ion-col>
    </ion-row>
  </ion-grid>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button class="mangateca-button" [routerLink]="['/mangateca']">
    <ion-icon name="book"></ion-icon>
  </ion-fab-button>
</ion-fab>


 
</ion-content>

<ion-footer>
  <app-menu></app-menu>
</ion-footer>
