<ion-header [translucent]="true">
  <ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button default-href="#"></ion-back-button>
  </ion-buttons>
  <ion-title>Editar perfil</ion-title>
</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-input labelPlacement="floating" label="Nombre " type="text" fill="solid" mode="md"  value="{{auth.profile?.name}}  {{auth.profile?.lastname}}" 	readonly>
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-input labelPlacement="floating" label="Email " type="text" fill="solid" mode="md"  value="{{auth.profile?.email}}" 	readonly>
            </ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <app-menu></app-menu>
</ion-footer>