<ion-header [translucent]="true">
  <ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button default-href="#"></ion-back-button>
  </ion-buttons>
  <ion-title>Editar perfil</ion-title>
</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-input labelPlacement="floating" value="usuario_owo">
              <div slot="label">Nombre de usuario <ion-text color="danger">(Puedes cambiarlo después de 14 días) </ion-text></div>
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-input labelPlacement="floating" value="usuario@gmail.com">
              <div slot="label">Correo electrónico</div>
            </ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <app-menu></app-menu>
</ion-footer>